<%- include('../partials/header'); %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 order-xl-1">
				<div class="card shadow">
					<div class="card-header border-0">
						<div class="row align-items-center">
							<div class="col-8">
								<h3 class="mb-0">
									Import file
								</h3>
							</div>
						</div>
					</div>
					<div class="card-body">
						<form action="/import" method="POST" enctype="multipart/form-data">
							<div class="row">
								<div class="col-md-6">
									<div class="form-groups">
										<label class="form-control-label" for="input-email">
											Choose file
										</label>
										<input type="file" name="csvFile" accept=".csv" class="form-control">
										<strong class="invalid-feedback" style="display: block">
										</strong>
									</div>
								</div>
								<div class="col-lg-6">
									<button type="submit" class="btn btn-primary mt-4 mb-4">
										Import
									</button>
								</div>
							</div>
						</form>
						<a href="/export-csv"><button class="btn btn-primary mt-4 mb-4">
								Export Excel
							</button>
						</a>
					</div>

				</div>

			</div>
			<div class="col-xl-4 mb-xl-0">
				<div class="card shadow">
					<div class="table-responsive height100 tablenoti">
						<!-- Projects table -->
						<table class="table align-items-center">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Name</th>
								</tr>
							</thead>
							<tbody class="contentbody">
								<% getways.forEach(getway=> { %>
									<tr class="warning">
										<td>
											<%= getway.id %>
										</td>
										<td>
											<%= getway.name %>
										</td>
									</tr>
									<% }); %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<%- include('../partials/topfooter'); %>
	</div>

	<%- include('../partials/footer'); %>